<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Intel RealSense D415 camera -->
  <link name="camera_link">
    <visual>
      <origin xyz="0.04 -0.0015 0.0135" rpy="${-pi/2} ${pi} ${-pi/2}"/>
        <geometry>
          <mesh filename="package://akabot_description/meshes/d415.dae"/>
        </geometry>
    </visual>
    <collision>
      <origin xyz="0.04 -0.0015 0.0135" rpy="${-pi/2} ${pi} ${-pi/2}"/>
        <geometry>
          <mesh filename="package://akabot_description/meshes/d415.dae"/>
        </geometry>
    </collision>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="base_plate"/>
    <child link="camera_link"/>
    <origin xyz="0.0205 0 0.00425" rpy="0 0 0"/> 
  </joint>

  <link name="camera_link_optical"></link>

  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_link_optical"/>
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  </joint>

  <xacro:property name="deg_to_rad" value="0.01745329252" />

  <gazebo reference="camera_link">
    <sensor name="camera" type="depth">
      <pose> 0 0 0 0 0 0 </pose>
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <camera>
        <horizontal_fov>${69.4*deg_to_rad}</horizontal_fov>
          <image>
            <format>B8G8R8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.05</near>
            <far>8.0</far>
          </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <frame_name>camera_link_optical</frame_name>
          <min_depth>0.1</min_depth>
          <max_depth>100.0</max_depth>
        </plugin>
    </sensor>
  </gazebo>
</robot>
